{% extends "guestview/base.html" %}

{% block content %}

    <div class="loginbox">
        <h1>Login Here</h1>
        <form method="POST"> 
            {% csrf_token %}

            {% if error %}
            <p>{{ error }}</p>
            {% endif %}

            <p>Username</p>
            <input type="username" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">

            <div class="loginbox-footer">
                <input class="submit" type="submit" name="">
                <a href="{% url 'getstarted' %}">Dont have an account?</a>
            </div>
            
        </form>

    </div>
{% endblock %}